Package: recorder-by-movement-dev
Source: recorder-by-movement
Version: 0.0.1~rc1
Architecture: amd64
Maintainer: Maintainer Name
Installed-Size: 83
Depends: recorder-by-movement (= 0.0.1~rc1), kms-core-6.0-dev, kms-elements-6.0-dev, kms-filters-6.0-dev, libopencv-dev
Section: utils
Priority: optional
Description: dev package description
